*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #161616;
}
/* **************navigation bar*************************************  */
.nav{
    background-color: #000000;
    width:100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    color: #FFFFFF;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 100;
    text-decoration: none;
    transition: 0.6s;
    padding-left: 40px;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo p{
    font-weight: 100;
    font-size: 25px;
}
.iteams{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.iteams li{
    position: relative;
    list-style: none;
}
.iteams li a:hover{
    color: #E4A707;
}
.iteams li:nth-child(4) a{
    color: #E4A707;
}
.iteams li:nth-child(4)::after{
    content: '';
    display: block;
    margin-left: 15px;
    width: 70%;
    height: 1px;
    background-color: #E4A707;
    position: absolute;
    bottom: -1px;
    transition: width 0.3s ease;
}
.iteams li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.6s;
    /* font-weight: bold; */
    font-size: 25px;
    color: #FFFFFF;
}
.iteams li a::after{
    content: '';
    display: block;
    margin-left: 15px;
    width: 0;
    height: 1px;
    background-color: #E4A707;
    position: absolute;
    bottom: -1.2px;
    transition: width 0.3s ease;
}
.iteams li a:hover::after{
    width: 100%;
}
/* ***********************end of nav bar********************************** */
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
}
.blog{
    text-align: center;
}
.bloghead{
    color: #E4A707;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bolder;
}
.blogContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 25px;
}
.blog1{
    display: block;
    justify-content: center;
    text-align: left;
    margin-left: 25px;
}
.blog1 .blogimage{
    width: 100%;
    border-radius: 15px;
}
.blogTitle{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
.blogcont{
    font-size: 20px;
    margin-top: 10px;
    font-family: "Inria Sans", sans-serif;
}
.blogdate{
    font-size: 15px;
    margin-top: 10px;
}
.blog button{
    margin-top: 30px;
    font-size: 15px;
    padding: 15px 30px;
    color: #000000;
    background-color: #E4A707;
    border: none;
    border-radius: 15px;
    margin-bottom: 80px;
}

/* ***************************footer************************************** */
.footer{
    background-color: #000000;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 0.6s;
    color: #FFFFFF;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
    padding: 5px;
}
.contact p{
    margin-bottom: 5px;
}
.contact p i{
    margin-right: 3px;
}
.social{
    display: flex;
    justify-content: space-between;
    height: 33px;
    width: 250px;
    margin-right: 20px;

}
.social1{
    font-size: xx-large;
}
.social a{
    text-decoration: none;
    padding: 5px;
    color: #FFFFFF;
    margin-right: 5px;
}
.copyright{
    font-size: 20px;
}
.allright{
    font-size: 15px;
}

.nav .fa{
    display: none;
}
@media only screen and (max-width:890px){ 
    .list-iteam{
        position: fixed;
        right: -200px;
    }
    .iteams{
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        top: 199px;
        background-color: #000000;
    }
    .iteams li{
        position: relative;
        list-style: none;
        margin-bottom: 20px;
    }
    .iteams li:nth-child(4)::after{
        content: '';
        display: block;
        margin-left: 15px;
        width: 60%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        transition: width 0.3s ease;
    }
    .iteams li a{
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        transition: 0.6s;
        font-weight: bold;
        font-size: 25px;
        color: #FFFFFF;
    }
    .iteams li a:hover::after{
        width: 100%;
    } 
    .nav .fa{
        display: block;
        font-size: 40px;
        margin-right: 30px;
    }
    .iteams li:nth-child(7){
        position: absolute;
        top: -63px;
        font-size: 40px;
        right: 0;
    }
    .blogContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 100px;
        text-align: center;
    }
    .blog1 .blogimage{
        width: 100%;
    }
    .blogdate{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width:500px){
    .social{
        width: 150px;
        margin-right: 0;
    
    }
    .social1{
        font-size: large;
    }
    .social1 a{
        margin-right: 0;
    }
    .copyright{
        margin-top: 10px;
        font-size: 15px;
    }
    .contact{
        font-size: 12px;
    }
    .allright{
        font-size: 13px;
    }
    .bloghead{
        font-size: 50px;
    }
    .blogContainer{
        margin-right: 50px;
        margin-left: 30px;
    }
    .blog button{
        font-size: 20px;
        padding: 10px 20px;
    }

}