*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #161616;
}
/* **************navigation bar*************************************  */
.nav{
    background-color: #000000;
    width:100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    color: #FFFFFF;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    transition: 0.6s;
    padding-left: 40px;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo p{
    font-weight: bold;
    font-size: 25px;
}
.iteams{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.iteams li{
    position: relative;
    list-style: none;
}
.iteams li a:hover{
    color: #E4A707;
}
.iteams li:nth-child(6) a{
    color: #E4A707;
}
.iteams li:nth-child(6)::after{
    content: '';
    display: block;
    margin-left: 15px;
    width: 70%;
    height: 4px;
    background-color: #E4A707;
    position: absolute;
    bottom: -5px;
    transition: width 0.3s ease;
}
.iteams li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.6s;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}
.iteams li a::after{
    content: '';
    display: block;
    margin-left: 15px;
    width: 0;
    height: 3px;
    background-color: #E4A707;
    position: absolute;
    bottom: -5px;
    transition: width 0.3s ease;
}
.iteams li a:hover::after{
    width: 100%;
}
/* ***********************end of nav bar********************************** */

/* *********************************loginform******************************** */
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.loginInfo{
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-align: center;   
}
.addInfo{
    margin: auto;
    text-align: left;
}
.addform{
    background-color: #000000;
    color: #FFFFFF;
    width: 420px;
    height: 310px;
    border-radius: 30px;
    padding-top: 20px;
}
.addform p{
    color: #E4A707;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.loginfield{
    position: relative;
    margin-left: 40px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: left;
}
.loginfield label{
    display: inline-block;
    margin-bottom: 3px;
    font-size: 20px;
}
.loginfield input{
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    display: block;
    width: 80%;
    font-size: 15px;
    padding: 5px 0 5px 5px;
}
.loginfield i{
    position: absolute;
    top: 33px;
    right: 75px;
    color: #E4A707;
    visibility: hidden;
}
.loginfield small{
    position: absolute;
    left: 0;
    visibility: hidden;
}
.loginfield.success input{
    border-color: #E4A707;
}
.loginfield.error input{
    border-color: red;
}
.loginfield.success i.fa-check-circle{
    visibility: visible;
}
.loginfield.error i.fa-exclamation-circle{
    visibility: visible;
    color: red;
}
.loginfield.error small{
    visibility: visible;
    color: red;
}

.loginBut{
    padding: 6px 25px;
    border-radius: 10px;
    border: none;
    margin-left: 150px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color:  #E4A707;
}
.orsignup{
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}
.orsignup a{
    color: #E4A707;
}

/* ***************************footer************************************** */
.footer{
    background-color: #000000;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 0.6s;
    color: #FFFFFF;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
    padding: 5px;
}
.contact p{
    margin-bottom: 5px;
}
.contact p i{
    margin-right: 3px;
}
.social{
    display: flex;
    justify-content: space-between;
    height: 33px;
    width: 250px;
    margin-right: 20px;

}
.social1{
    font-size: xx-large;
}
.social a{
    text-decoration: none;
    padding: 5px;
    color: #FFFFFF;
    margin-right: 5px;
}
.copyright{
    font-size: 20px;
}
.allright{
    font-size: 15px;
}

.nav .fa{
    display: none;
}
@media only screen and (max-width:890px){ 
    .list-iteam{
        position: fixed;
        right: -200px;
    }
    .iteams{
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        top: 199px;
        background-color: #000000;
    }
    .iteams li{
        position: relative;
        list-style: none;
        margin-bottom: 20px;
    }
    .iteams li:nth-child(6)::after{
        content: '';
        display: block;
        margin-left: 15px;
        width: 60%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        transition: width 0.3s ease;
    }
    .iteams li a{
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        transition: 0.6s;
        font-weight: bold;
        font-size: 25px;
    }
    .iteams li a:hover::after{
        width: 100%;
    } 
    .nav .fa{
        display: block;
        font-size: 40px;
        margin-right: 30px;
    }
    .iteams li:nth-child(7){
        position: absolute;
        top: -63px;
        font-size: 40px;
        right: 0;
    }
}

@media only screen and (max-width:500px){
    .social{
        width: 150px;
        margin-right: 0;
    
    }
    .social1{
        font-size: large;
    }
    .social1 a{
        margin-right: 0;
    }
    .copyright{
        margin-top: 10px;
        font-size: 15px;
    }
    .contact{
        font-size: 12px;
    }
    .allright{
        font-size: 13px;
    }
    .addform{
        width: 350px;
    }
    .loginInfo{
        margin-top: 90px;
    }
    .addIn1{
        width: 250px;
    }
    .loginBut{
        margin-left: 120px;
    }
    .loginfield i{
        right: 60px;
    }
}

@media only screen and (max-width:365px){
    .addform{
        width: 300px;
    }
    .loginBut{
        margin-left: 100px;
    }
    .loginfield i{
        right: 50px;
    }
}
