
body{
    margin: 0;
    padding: 0;
    background-image: url(images/background11.jpg);
    width: 1280px;
    height: 832px;
    background-repeat: no-repeat;
}
.navbar{
    width: 99vw;
    height: 84px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #212428;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
a{
    font-size: 25px;
    color: #32369D;
    text-decoration: none;
    font-family: Impact,'Bold', sans-serif; 
    text-align: center;
    

}
ul{
    list-style-type: none;

}
ul li{
    display: inline-block;

    margin-right: 50px;
    margin-top: 8px;
}
