*{
    margin: 0;
    padding: 0;
    font-family: "Inria Serif", sans-serif;
}
body{
    /* min-height: 100vh;
    overflow-x: hidden; */
    background-color: #161616;
}
.dash-container{
    width: 100%;
    position: relative;
}
.navigation{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #000000;
    color: #FFFFFF;
}
.navigation1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    padding-top: 15px;
    cursor: pointer;
}
.navigation1 img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.navigation2{
    display: flex;
    margin-bottom: 20px;
    padding: 20px 0 20px 10px;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
}
.navigation2 li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-right: 15px;
}
.navigation2.click{
    background-color: #161616;
}
.navigation2 li a{
    color: #FFFFFF;
    text-decoration: none;
}
.dash-titles{
    margin-top: 30px;
    margin-left: 45px;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #161616;
    transition: 0.5s;
}
.blog{
    color: #FFFFFF;
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.bloghead{
    color: #E4A707;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.blog1{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: left;
}
.blog1 .blogimage{
    max-width: 800px;
    height: 500px;
    width: 100%;
    border-radius: 15px;
}
.blogTitle{
    color: #E4A707;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}
.blogDescription{
    font-size: 17px;
    margin-top: 10px;
    font-family: "Inria Sans", sans-serif;
}
.blogcont{
    font-size: 15px;
    margin-top: 10px;
    font-family: "Inria Sans", sans-serif;
    text-align: justify;
    display: none;
}
.blogdate{
    font-size: 12px;
    margin-top: 10px;
}
.button-trash{
    margin-top: 20px;
    cursor: pointer;
    width: 150px;
    margin-bottom: 40px;
}
.newBlog{
    cursor: pointer;
    display: block;
    justify-content: center;
    margin-bottom: 50px;
}
.addblog{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #000000;
    display: none;
    flex-direction: column;
    align-content: center;
    width: 800px;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
}
.addblog h1{
    color: #E4A707;
    font-size: 20px;
    text-align: center;
}
.addblogform{
    font-size: 15px;
}
.addblogform input{
    width: 100%;
}
.addblogform textarea{
    width: 100%;
}
.add button {
    cursor: pointer;
}
